footer.footer 
	.footer__wrapper 
		.footer__left.anim__fade(data-animation="fade")='All rights reserved (c) 2022'

		.footer__right 
			.footer__right__wrapper 
				.footer__right__links
					.footer__right__hr
					.footer__right__links__menu
						ul.footer__list
							li.footer__list__item
								a.footer__list__link.footer__list__link--menu(href='#home')='Home'
							li.footer__list__item
								a.footer__list__link.footer__list__link--menu(href='#projects')='Projects'
							li.footer__list__item
								a.footer__list__link.footer__list__link--menu(href='#contact')='Contact me'
					//- a.footer__right__links__terms(href='#terms')='Terms of use'
				
				.footer__right__socials
					.footer__right__hr
					.footer__right__socials__menu
						ul.footer__list
							li.footer__list__item--socials
								a.footer__list__link(href='https://www.instagram.com/loudpose/' target="_blank")
									img(data-src="./images/fa-instagram.svg")
									p='@loudpose'
							li.footer__list__item--socials
								a.footer__list__link(href='https://twitter.com/loudpose' target="_blank")
									img(data-src="./images/fa-twitter.svg")
									p='@loudpose'
							li.footer__list__item--socials
								a.footer__list__link(href='https://github.com/chrisaveryano' target="_blank")
									img(data-src="./images/fa-github.svg")
									p='@chrisaveryano'
					//- a.footer__right__socials__cookie(href='#cookie')='Cookie policy'