figure.home__gallery__item(id="g1") 
	figcaption.home__gallery__item__top
		h3.home__gallery__item__title='Photographers for Ukraine'
		h6.home__gallery__item__subtitle!=`Buy <strong>art</strong> — give <strong>support</strong>!`.replace(/<strong>/g, '<strong>')
	.home__gallery__item__content
		.home__gallery__video__container
			.video__controls__wrapper
				img.video__controls.video__controls--play(data-src="./images/play.svg")
				img.video__controls.video__controls--pause(data-src="./images/paused.svg")
				div.video__controls.video__controls--progressbar
				button.video__controls.video__controls--fullscreen="Fullscreen"
			video.home__gallery__item__video(width="640" height="360" data-src="./images/prj1preview.jpg" playsinline loop auto muted)
				source(data-src="./videos/phforukr.mp4" type="video/mp4")
	.home__gallery__item__bottom
		img.home__gallery__item__icon(data-src="./images/pbox.png" width="16" height="16" title="made with Portfoliobox" alt="portfoliobox")
		a.home__gallery__item__link(href='https://www.photographersforukraine.com/' target="_blank")='photographersforukraine.com'

figure.home__gallery__item(id="g2") 
	figcaption.home__gallery__item__top
		h3.home__gallery__item__title='Prelab'
		h6.home__gallery__item__subtitle="Virtual staging"
	.home__gallery__item__content
		.home__gallery__video__container
			.video__controls__wrapper
				img.video__controls.video__controls--play(data-src="./images/play.svg")
				img.video__controls.video__controls--pause(data-src="./images/paused.svg")
				div.video__controls.video__controls--progressbar
				button.video__controls.video__controls--fullscreen="Fullscreen"
			video.home__gallery__item__video(width="640" height="360" data-src="./images/prj2preview.jpg" playsinline loop auto muted)
				source(data-src="./videos/prelab.mp4" type="video/mp4")
	.home__gallery__item__bottom
		img.home__gallery__item__icon(data-src="./images/react.png" width="16" height="16" title="made with React JS" alt="react js")
		a.home__gallery__item__link(href='https://prelab.design/' target="_blank")='prelab.design'

figure.home__gallery__item(id="g3") 
	figcaption.home__gallery__item__top
		h3.home__gallery__item__title='Victoria Chuiko'
		h6.home__gallery__item__subtitle="Professional cinematographer"
	.home__gallery__item__content
		.home__gallery__video__container
			.video__controls__wrapper
				img.video__controls.video__controls--play(data-src="./images/play.svg")
				img.video__controls.video__controls--pause(data-src="./images/paused.svg")
				div.video__controls.video__controls--progressbar
				button.video__controls.video__controls--fullscreen="Fullscreen"
			video.home__gallery__item__video(width="640" height="360" data-src="./images/prj3preview.jpg" playsinline loop auto muted)
				source(data-src="./videos/drz.mp4" type="video/mp4")
	.home__gallery__item__bottom
		img.home__gallery__item__icon(data-src="./images/javascript.png" width="16" height="16" title="made with JavaScript" alt="javascript")
		a.home__gallery__item__link(href='https://victoria-chuiko.netlify.app/' target="_blank")='victoria-chuiko.com'

figure.home__gallery__item(id="g4") 
	figcaption.home__gallery__item__top
		h3.home__gallery__item__title='Cloudpoze'
		h6.home__gallery__item__subtitle="Beatmaker, musician"
	.home__gallery__item__content
		.home__gallery__video__container
			.video__controls__wrapper
				img.video__controls.video__controls--play(data-src="./images/play.svg")
				img.video__controls.video__controls--pause(data-src="./images/paused.svg")
				div.video__controls.video__controls--progressbar
				button.video__controls.video__controls--fullscreen="Fullscreen"
			video.home__gallery__item__video(width="640" height="360" data-src="./images/prj4preview.jpg" playsinline loop auto muted)
				source(data-src="./videos/cloudpoze.mp4" type="video/mp4")
	.home__gallery__item__bottom
		img.home__gallery__item__icon(data-src="./images/pbox.png" width="16" height="16" title="made with Portfoliobox" alt="portfoliobox")
		a.home__gallery__item__link(href='https://www.cloudpoze.com/' target="_blank")='cloudpoze.com'

figure.home__gallery__item(id="g5") 
	figcaption.home__gallery__item__top
		h3.home__gallery__item__title='Piano Tuning'
		h6.home__gallery__item__subtitle="Piano renovation, restoration, tuning"
	.home__gallery__item__content
		.home__gallery__video__container
			.video__controls__wrapper--locked
				img.video__controls.video__controls--play(data-src="./images/locked.svg")
				img.video__controls.video__controls--pause(data-src="./images/paused.svg")
				//- button.video__controls.video__controls--fullscreen="Fullscreen"
			img.home__gallery__item__video(width="640" height="360" data-src="./images/prj5preview.png")
	.home__gallery__item__bottom
		img.home__gallery__item__icon(data-src="./images/javascript.png" width="16" height="16" title="made with JavaScript" alt="javascript")
		a.home__gallery__item__link="Under Construction"