section.home__services(id="services") 
	.home__services__wrapper 
		.services__card 
			.services__card__content__wrapper
				.services__card__content(id="art-direction")
					.services__art__direction
					.services__art__direction
					.services__art__direction
					.services__art__direction
					.services__art__direction
				.services__card__info__wrapper 
					.services__card__info 
						h3='Art Direction'
						p='Creative digital solutions and fresh ideas for your brand identity, a so-called Visual Strategy that guide the client vision to realty.'

		.services__card 
			.services__card__content__wrapper
				.services__card__content(id="pixel-perfect")
					.services__pixel__perfect
					.services__pixel__perfect
					.services__pixel__perfect
				.services__card__info__wrapper 
					.services__card__info 
						h3='Pixel-perfect Design'
						p='Everything is executed with precision and care. My websites resolve around user experience (UX) and usability, while keeping true to the very last pixel of the selected design.'

		.services__card 
			.services__card__content__wrapper
				.services__card__content(id="optimized-development")
					.services__optimized__dev
						img.services__optimized__dev__image--on(data-src="./images/icons/laptop-on.png")
						img.services__optimized__dev__image--offdark(data-src="./images/icons/laptop-off.png")
						img.services__optimized__dev__image--offlight(data-src="./images/icons/laptop.png")
					.services__optimized__dev
						img.services__optimized__dev__image--on(data-src="./images/icons/phone-on.png")
						img.services__optimized__dev__image--offdark(data-src="./images/icons/phone-off.png")
						img.services__optimized__dev__image--offlight(data-src="./images/icons/phone.png")
					.services__optimized__dev
						img.services__optimized__dev__image--on(data-src="./images/icons/tablet-on.png")
						img.services__optimized__dev__image--offdark(data-src="./images/icons/tablet-off.png")
						img.services__optimized__dev__image--offlight(data-src="./images/icons/tablet.png")
					.services__optimized__dev
						img.services__optimized__dev__image--on(data-src="./images/icons/pc-on.png")
						img.services__optimized__dev__image--offdark(data-src="./images/icons/pc-off.png")
						img.services__optimized__dev__image--offlight(data-src="./images/icons/pc.png")

				.services__card__info__wrapper 
					.services__card__info 
						h3='Optimized development'
						p='Clean code, followed by proper semantic tags is what gives your back-end all thats needed. Modern, responsive and fast. According to Google, speed is very important for SEO, and therefore, for your search engine ranking!'

		.services__card 
			.services__card__content__wrapper
				.services__card__content
					div(id="motion-design")
						.services__motion__design
						.services__motion__design
						.services__motion__design
						.services__motion__design
				.services__card__info__wrapper 
					.services__card__info 
						h3='Motion Design'
						p='Adapt your business to the new reality of the future! An extraordinary brand experience starts with hi-fi visuals to create a powerful and modern image that would help face whatever challenge tomorrow may bring.'
